body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background: rgb(253, 30, 72);
    background: linear-gradient(25deg, rgb(67, 30, 253) 20%, rgb(231, 30, 253) 100% );

}

.form-box{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px; 
}
.logo{
    width: 60px;
}
.form-box h2{
    color: #fff;
    margin: 0;
    margin-bottom:30px ;
    padding: 0;
    text-align: center;
}

.form-box .login {
    position: relative;
}

.form-box .login input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
}

.form-box .login label{
position: absolute;
color: #fff;
top: 0;
left: 0;
padding: 10px 0;
font-size: 14px;
pointer-events: none;
transition: 0.5s;
}

.form-box .login input:focus ~ label,
.form-box .login input:valid ~ label{
    top: -20px !important;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
#btn{
    margin: 5px ;
    padding: 10px 50px;
    background: blue;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 150px;
    display: inline-block;
}

@media screen and (max-width:550px){
    .form-box{
        width: 250px;
        text-align: center;
        top: 45%;
        margin: 40px 40px 40px 0 ;

    }
}
